*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}
.circle{
    width: 100px;
      height: 100px;
      background-color: skyblue;
      border-radius: 50%; 
}